.banner{
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 50px 0;
}
@media (min-width: 1200px){
.container {
    max-width: 940px !important;
}
}
@media (max-width: 768px){
  .card{
    text-align: center;
  }
  .card img{
    width: 50%;
    margin: auto;
  }
}

.spinner{
  width: 50px;
  height: 50px;
  border: 3px solid rgb(255 255 255 / 30%);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: 1s spin ease-in-out infinite;
  margin: auto;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}